html
body
  height 100vh
  width 100vw
  position relative
  user-select none
  -webkit-user-select none

html
  top 0px
  bottom 0px
  width 100%
  overflow-x hidden
  -webkit-overflow-scrolling touch

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-font-smoothing antialiased
  font-smoothing antialiased

*
*:after
*:before
  box-sizing border-box

body
  padding 0
  margin 0
  background #F0EDEA
  padding-bottom 10vw
  // height: 100%;
  // width: 100%;
  // overflow: auto;

// html, body
//   height: 100%;
//   overflow: hidden;

// .GlobalContainer
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   overflow: auto;

img
  max-width 100%

.hidden
	display none
	opacity 0

.HiddenOnDesktop
  @media laptop
    display none

.HiddenOnMobile
  display none
  @media laptop
    display block

 #gmap_canvas
   width 50vw
   height 100vh
   background #999 url(_img/googlemaps.png) no-repeat
   background-size cover
   position absolute
   top 0px

.UnScrollable
  max-height 100vh

/** OOCSS helper functions for layout works well, esp with ie6+, perfect for hospitals, government, legacy, abroad
 */
.line
.lastUnit
  &:after
    clear both
    content 'x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x'
    display block
    font-size xx-large
    height 0 !important
    line-height 0
    overflow hidden
    visibility hidden

.lastUnit
  display table-cell
  float none
  width auto
  *display block
  *zoom 1
  _position relative
  _left -3px
  _margin-right -3px

.unit
  display inline-block
  float left

.unitRight
  float right

.left-column
  @extends $unit

.right-column
  @extends $lastunit

.size1of2
  width 50%



