.Button
	padding .4rem 1rem
	text-transform uppercase
	letter-spacing .09rem
	border-radius 2px
	border solid 1px
	background transparent
	transition all 200ms ease-out
	color color-DarkBrown
	border-color black
	font-size .9rem
	&:hover
		transform scale(1.01)
		background-color color-DarkBrown
		color white
	@media laptop
		padding .4rem 1rem
		font-size .8rem
		border-radius 4px

.Button.Negative
	color white
	border-color white
	&:hover
		background-color white
		color color-DarkBrown

.Button.Primary
	color white
	border-color color-DarkBrown
	background-color color-DarkBrown
	&:hover
		background-color transparent
		color color-DarkBrown

button[disabled] {
  cursor not-allowed
  border-color #cacaca
  color #cacaca
  &:hover {
		background none
		border-color #cacaca
  	color #cacaca
  	transform scale(1)
  }
}

