// CARDS PAGE

.CardTitle
	@extends $cf
	width 100%
	margin-bottom 2rem

.CardTitle p
	float left

.CardTitle p span
	opacity .5

.CardTitle p:nth-child(2)
	float right

.CardArt
	width 100%
	float left
	-webkit-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	-moz-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.56);
	border-radius 10px
	@media laptop
		width 55%

.CardActions
	width 100%
	float right
	margin-top 1rem
	@media laptop
		width 40%
		margin-top 0rem

.CardActions .Button
	width 100%
	margin-bottom .5rem


// TRANSFER A BALANCE

.TransferTool .CardContents
	width 100%
	padding 6vw
	padding-bottom 0
	@media laptop
		padding 3vw
		padding-bottom 0

.TransferFrom
	width 100%
	border-bottom 1px solid #ccc
	display block
	overflow auto
	cursor pointer
	transition all 200ms ease-out
	&:hover
		opacity .5

.TransferFrom.Open
	padding-bottom 8rem

.TransferOrigin
	width 4rem
	float left
	margin-top 0px
	padding 1.5rem 0
	margin-bottom 0
	@media laptop
		width 20%

.TransferCard
	float left
	width 80%
	padding 1.5rem 0

.TransferCardTitle
	float left
	width 11rem
	@media laptop
		width 17rem

.TransferCardBalance
	float left

.TransferCardExpand
	float right
	background url(_img/caret_down.svg) no-repeat
	background-size 100%
	width 1rem
	height 1rem
	margin-top .5rem
	transition all 100ms ease-out
	transform-origin 50% 20%

.TransferCardExpand.Open
	transform rotate(180deg)

.TransferCardArt
	float left
	width 3rem
	height 1.5rem
	border-radius 5px
	margin-top -.5rem
	margin-right 1rem

.TransferAmount
	width 100%

.TransferAmount p
	float left
	padding 2rem 0

.TransferAmountField
	float right
	margin 1rem 0

.TransferAmountField input
	text-align right
	border none
	padding .5rem
	padding-right 0
