.SpotifyCard .CardContents
	padding 0
	width 100%
	overflow hidden
	
.SpotifyCover
	width 30%
	height 0px
	padding-bottom 30%
	background url(_img/spotify_cover.jpg) no-repeat
	background-size cover
	float left
	margin-bottom -2px
	@media laptop
		width 20%
		height 0px
		padding-bottom 20%
		
.SpotifyDetails
	float left
	padding 6vw
	@media laptop
		padding 1.5vw
	
.SpotifyDetails p
	padding 0
	margin 0
		
.SpotifyArtistTitle
	opacity .5
	
.SpotifyNowPlaying
	bottom 5vw
	position absolute
	@media laptop
		bottom 1.5vw

.SpotifyNowPlaying:before
	color: transparent;
	background url('_img/spotify_bars.gif') no-repeat  
	background-size: 100%;      
	content: "..";
	font-size: 2rem;
	position relative
	top 1rem
	margin-right .5rem