.ReceiptCard .CardContents
	padding 0
	width 100%
	
.ReceiptHeader
	padding 6vw
	padding-bottom 0vw
	font-size 1.2rem
	@media laptop
		padding 1.5vw

.ReceiptHeader:before
	color: transparent;
	background url('_img/icon_receipt.svg') no-repeat  
	background-size: 100%;      
	content: "..";
	font-size: 2rem;
	position relative
	float left
	top .2rem
	margin-right 1rem
	
.ReceiptDetails
	margin 6vw
	@media laptop
		margin 1.5vw
	
.ReceiptTitle
	width 100%
	
.ReceiptCode
	opacity .5
	
.ReceiptAmount
	opacity .5
	float right
	display block
	width 100%
	@media laptop
		width auto
		display inline
		
.ReceiptButton
	margin 6vw
	display inline-block
	text-align right
	margin-top 0
	@media laptop
		margin 1.5vw
	
