.OfferCard .CardContents
	padding 0
	width 100%
	
.OfferHeader
	padding 6vw
	padding-bottom 0vw
	font-size 1.2rem
	@media laptop
		padding 1.5vw

.OfferHeader:before
	color: transparent;
	background url('_img/offerstag.svg') no-repeat  
	background-size: 100%;      
	content: "..";
	font-size: 2rem;
	position relative
	float left
	top .2rem
	margin-right 1rem
	
.OfferIndividual
	margin 6vw
	border-bottom 1px dotted #ccc
	@media laptop
		margin 1.5vw
	
.OfferIndividual:nth-child(4)
	border-bottom none
	
.OfferTitle
	width 100%
	
.OfferCode
	opacity .5
	
.OfferExpDate
	opacity .5
	float right
	display block
	width 100%
	@media laptop
		width auto
		display inline
