.MessageCard .CardContents
	padding 0
	width 100%
	
.MessageThumbnail
	width 100%
	float left
		
.MessageDetails
	float left
	padding 6vw
	@media laptop
		padding 1.5vw
		
.MessageTitle
	font-size 1.3rem
	margin-top -0.2rem

.MessageDesc
	opacity .5
	width 100%
	
.MessageExpDate
	opacity .5
	width 50%
	float left
	margin-top 1.5rem
	margin-bottom 0
	padding-bottom 0

.MessageButton
	float right
	margin-top .5rem
	margin-bottom 0
	padding-bottom 0
	
//MEDIUM

.MessageCard.Medium .MessageThumbnail
	width 100%
	height 0px
	padding-bottom 50%
	background color-DarkBrown
	float left
	background-size cover
	background-position center center 
	@media laptop
		width 40%
		padding-bottom 40%
		
.MessageCard.Medium .MessageDetails
	width 100%
	float left
	@media laptop
		width 60%
		
// PICK OF THE WEEK

.MessageIcon
	width 20%
	margin-top -20%
	margin-bottom 1rem
	
.MessageIcon img
	border-radius 10px
	-webkit-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	-moz-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);