.aguide
	position fixed
	background blue
	width 1px
	height 100vh
	top 0px
	opacity .3
	z-index 9999999
	&:nth-child(1)
		left 11vw
	&:nth-child(2)
		right 11vw
	&:nth-child(3)
		height 1px
		width 100vw
		top 11vw
		left 0px

.aguide
	display none
