header
  width 100%
  overflow auto
  padding 5vw
  position absolute
  top 0px
  z-index 999
  @media laptop
    width 50%
    padding 3vw
    z-index 9999
    position fixed
    &.Switched
      right 0px

.Search
  display none

.Logo
  width 3rem
  height 3rem
  background url(./img/logobw.svg) no-repeat
  background-size cover
  cursor pointer
  display inline-block
  float left
  @media laptop
    width 4vw
    height 4vw

#LayoutToggle
  position fixed
  width 40px
  height 40px
  right 0px
  top 0px
  background transparent
  overflow auto
  z-index 99999999
