.ExpiringStars
  margin-bottom 9vw
  height auto
  transition all 200ms ease-out
  max-height 0px
  overflow hidden
  @media laptop
    margin-bottom 3vw
  &.Open
    max-height 800px
  ul
    list-style none
    padding 0
    margin 0
    color white
		li
			list-style none
			padding 0
			margin 0
			border-bottom 1px solid hsla(0, 0%, 100%, 0.2)
			padding-bottom 2rem
			margin-top 1rem
			.ExpDate
				float left
			.ExpAmount
				float right
				font-size 1rem
				//font-family AvenirNext-UltraLight
				margin-top -.4em

.StarIcon
	width 1rem
	height 1rem
	margin-left .5rem
	margin-top -.3rem
	background url(_img/GoldStar.svg) no-repeat
	background-size cover
	float right

.ExpiringStarLabel
	border-bottom 1px solid hsla(0, 0%, 100%, 0.2)
	padding-bottom 1rem
	margin-bottom 1rem
	color white

#Transactions .row .CardContainer
  width 90%

.HistoryItem
	cursor pointer
  height 10vw
  transition all 400ms cubic-bezier(1, 0, .75, .65)
  margin-top .75vw
  &:nth-child(1)
    margin-top -.75vw

// .HistoryItem div, .HistoryItem p
//   transition all 200ms ease-out

.HistoryItem.NonPurchase
	cursor default

.HistoryItem .CardContents
	padding 6vw
	width 100%
	@media laptop
		padding 1.5vw

.HistoryItem .PurchaseInfo
	width 50%
	float left

.HistoryItem p
  margin 0

.HistoryCardNumber, .HistoryLocationName
  color #808080

.HistoryItem .PurchaseInfo p:nth-child(3)
	padding-bottom 0
	margin-bottom -.3rem

.HistoryItem .FinancialInfo
	width 30%
	float right

.HistoryItem .FinancialInfo p
	text-align right

.HistoryItem .FinancialInfo .HistoryItemDate
	text-transform uppercase
	lettter-spacing .05rem
	opacity .5

.HistoryDate
	text-transform uppercase
	letter-spacing .05rem
	font-size .9rem
	opacity .5

.HistoryIcon
	float left
	width 1.5rem
	height 1.5rem
	margin-right 1.5rem
	margin-top 0rem

.HistoryItem.Purchase .HistoryIcon
	background url(_img/historystar.svg) no-repeat
	background-size cover

.HistoryCheckInfo
  transition all 100ms ease-out
  overflow hidden
  max-height 0px
  pointer-events none

.HistoryBasket
  transition all 400ms ease-out
  overflow hidden
  max-height 0px
  width 100%
  transition all 200ms ease-out
  //opacity 0
  @media laptop
    width calc(100% - 6vw)
    margin 0 3vw

.HistoryCheckInfo div, .HistoryBasket p
  transition all 100ms ease-out
  //transform scale(.9)
  opacity 0
  transform-origin top left

.HistoryCheckInfo
  width 100%
  text-transform uppercase
  letter-spacing .05rem
  opacity .5
  text-align center

.HistoryCheckID
  opacity .6
  margin-bottom 2rem

.HistoryCheckDate
  margin-top 2.5vw

.HistoryItem .HistoryStarsEarned
  margin-top -.2rem

.HistoryBasket p
  margin-bottom .5rem

.HistoryAddress
  margin-left 0rem
  color #808080
  margin-top .5rem
  padding-bottom 1rem
  @media laptop
    margin-left 0

.HistoryItem.Open
  .HistoryCheckInfo
    max-height 100px
  .HistoryBasket
    max-height 900px
    opacity 1
  .HistoryBasket
    margin-bottom 1.5vw
  .HistoryCheckInfo div, .HistoryBasket p
    //transform scale(1)
    opacity 1
  // .HistoryStars
  //   transform-origin 0 50%
  //   transform scale(1.5)
  //   @media laptop
  //     margin-left 3vw
  .HistoryLocationName
    opacity 0
    //transform scale(.9)
    display none
  .FinancialInfo
    opacity 0
    //transform scale(.9)
    display none
  .PurchaseInfo
    width 80%
  .HistoryItem .PurchaseInfo p:nth-child(2)
    margin-bottom 0
  .HistoryCardNumber
    margin-bottom 1rem



// ReceiptS

// #receipts li {
//   opacity: 0;
//  //padding: 20px;
//   position: absolute;
//   transform: scale(0.9);
//   transition: 0.23s cubic-bezier(0.5, 0.1, 0.7, 1.5) all;
//   width: 100%;
//   z-index: 1;
//   list-style: none;
// }

.receipt {
  list-style: none;
}

// .receipt p {
//   margin: 0;
//   padding: 0;
// }

#receipts li.in-frame {
  opacity: 1;
  transform: scale(1);
}
#receipts li.blank-state {
  background: none;
  box-shadow: none;
  opacity: 1;
  z-index: -1;
  text-align: center;
}

#your-receipts.right-column > .initial-text {
  margin: 0 auto;
  padding-left: 40px;
  text-align: center;
  width: 70%;
}

.transaction-module {
  padding: 20px 0;
  position: relative;
}

.transaction {
  cursor: pointer;
  margin-bottom: 8px;
  min-height: 90px;
  position: relative;
}
.transaction::last-child {
  margin-bottom: 0;
}

.transaction .left-column {
  padding-right: 40px;
  position: relative;
  min-width: 190px;
  max-width: 60%;
}
@media (min-width: 0px) and (max-width: 360px) {
  .transaction .left-column {
    min-width: 120px;
  }
}

.transaction .right-column {
  padding-right: 30px;
  position: relative;
  text-align: right;
}
@media (min-width: 360px) and (max-width: 800px) {
  .transaction .right-column {
    padding-right: 10px;
    text-align: right;
  }
}
@media (min-width: 0px) and (max-width: 360px) {
  .transaction .right-column {
    padding-right: 14px;
  }
}

.transaction.purchases {
  background: #FAF9F7;
  border-top: 4px solid #FAF9F7;
  cursor: pointer;
  transition: .12s linear all;
}
.transaction.purchases:hover {
  border-top: 4px solid #fff;
  background: #fff;
}
.transaction.purchases.active {
  background: #fff;
  border-top: 4px solid #00704A;
  position: relative;
}
.transaction.purchases.active::after {
  bottom: 0;
  display: block;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px;
}

.transaction.purchases .right-column::after {
  content: '\f2fb';
  color: #aaa;
  font-size: 32px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 800px) {
  .transaction.purchases .right-column::after {
    content: '';
  }
}
@media (min-width: 0px) and (max-width: 360px) {
  .transaction.purchases .right-column::after {
    content: '';
  }
}

.transaction.offers,
.transaction.reloads {
  background: transparent;
  border: 1px solid #ccc;
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}

.purchase p,
.order p,
.offer p {
  min-width: 140px;
  max-width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left-column .purchase {
  position: relative;
}
.left-column .purchase::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #C2A661;
  content: '☆';
  font-size: 24px;
  font-weight: 300;
  position: absolute;
  left: -48px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 360px) {
  .left-column .purchase::before {
    left: -35px;
  }
}
@media (min-width: 360px) and (max-width: 800px) {
  .left-column .purchase::before {
    left: -42px;
  }
}

.offers .right-column,
.reloads .right-column {
  padding-right: 0;
}


.date-time,
.check-number {
  text-align: center;
}

.date-time {
  color: #111;
  text-transform: uppercase;
}

.check-number {
  color: #666;
  font-size: 14px;
}

.receipt-head {
  margin-bottom: 20px;
  position: relative;
}

.receipt-location {
  cursor: pointer;
  line-height: 20px;
  margin: 20px 0 40px 0;
}
.receipt-location::before {
  content: '';
  background-image: url(_img/logobw.svg);
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-top: 0px;
  background-size: 100%;
}

.star-text {
  color: #111;
  font-size: 32px;
  font-family: Avenir-Book
}

.earned-text {
  background: rgba(0, 0, 0, 0.05);
  color: #2d2d2d;
  font-size: 12px;
  margin: 10px 0;
  padding: 8px;
}

.star-outline {
  color: #999;
  font-size: 28px;
}

.itemized-list,
.receipt-footer,
.order-total {
  padding: 1rem 0;
  overflow: auto;
}

.itemized-list-item {
  //margin-bottom: 14px;
  overflow: auto;
  padding-top 1rem
}

.itemized-list-item .right-column,
.receipt-footer .right-column {
  color: #111;
  font-size: 14px;
  text-align: right;
  float: right;
}

.itemized-list-item .left-column,
.receipt-footer .left-column,
.order-total .left-column {
  font-size: 14px;
  width: calc(100% - 120px);
  float: left
}

.itemized-list-item .right-column::after,
.receipt-tax discount .right-column::after,
.receipt-footer .right-column::after,
.order-total .right-column::after {
  display: none !important;
}

.order-total .left-column,
.order-total .right-column {
  color: #111;
  font-size: 14px;
  text-align: right;
}

.receipt-tax .left-column {
  text-align: right;
}

.receipt-tax .left-column p {
  text-align: right;
}

.receipt-tax .right-column {
  color: #808080;
}

.receipt-tax.discount,
.discount,
.receipt-tax.discount .right-column {
  color: ;
}

.dark-text {
  color: #2D2926;
}

.red-text {
  color: #D0021B;
  text-transform: uppercase;
}

.stardust-text {
  background: rgba(144, 19, 254, 0.4);
  border: 2px solid #9013FE;
}

// .gold-text {
//   color: #C2A661;
// }

.item-name {
  color: #111;
}

.item-size {
  opacity: .5;
  color: #666;
}

.bottom-dotted {
  //background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  margin-bottom: 0px;
  //padding-bottom: 2rem;
  border-bottom 1px solid hsla(0,0,0,.2)
}
.bottom-dotted:last-of-type {
  background-image: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.ac-inner {
  display: none;
  padding: 0 14px;
  transition: .2 all linear;
  width: 100%;
}

.accordion-inner {
  background: #f7f7f7;
  overflow: scroll;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  margin-bottom: 100px;
  opacity: 0;
  padding-bottom: 100px;
  visibility: hidden;
  transform: scale(0.9);
  transition: 0.23s cubic-bezier(0.5, 0.1, 0.7, 1.5) all;
  z-index: 10;
}
.accordion-inner.in-frame {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.accordion-inner::after {
  content: '\f134';
  color: #666;
  font-size: 56px;
  font-weight: lighter;
  position: fixed;
  bottom: 20px;
  left: 45%;
}
@media (min-width: 800px) {
  .accordion-inner {
    display: none !important;
  }
}

.accordion-inner .receipt {
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  margin-top: 0px;
  padding-top: 10px;
}

.receipt.has-alcohol .towards-stars {
  display: none;
}

.msr-caveats {
  font-size: 12px;
  font-style: italic;
  padding: 0;
}
.msr-caveats::first-letter {
  text-transform: uppercase;
}

.ac-title-month {
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0;
  padding: 20px;
}
.ac-title-month::last-child {
  background-image: none !important;
}
.ac-title-month:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ac-inner {
  padding-top: 20px;
}

.history-month {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.history-day {
  padding: 20px 20px 20px 72px;
}
@media (min-width: 360px) and (max-width: 800px) {
  .history-day {
    padding: 10px 10px 10px 62px;
  }
}
@media (min-width: 0px) and (max-width: 360px) {
  .history-day {
    padding: 10px 10px 10px 52px;
  }
}

#full-history {
  float: right;
  margin-right: 14px;
}

.close-receipt {
  display: block;
  float: left;
  background: none;
  border: 0;
  outline: none;
  color: #808080;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
  display: none;
}
.close-receipt::after {
  content: '\f136';
}
@media (min-width: 0px) and (max-width: 360px) {
  .close-receipt {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 800px) {
  .close-receipt {
    display: none;
  }
}

.receipt .expired-text {
  margin-top: 1rem;
  margin-bottom 1rem;
}
