// CLEARFIX MICRO
$cf
  &:after
    content ' '
    display table
    clear both

$unit
  display inline-block
  float left

$lastunit
  float: none
  display: block
  display: table-cell
  width: 9999em
  &:after
    content: ''
    display: table
    clear: both
