.NavContainer
  float left
  margin-left 1rem
  cursor pointer
  z-index 999
  @media tablet
    margin-top .1rem  
  @media laptop
    margin-top .6rem

.PrimaryNav
  list-style none
  padding 0
  margin 0
  width 100%
  display block
  overflow auto
  margin-bottom .5rem
  margin-left .5vw
  li 
    text-transform uppercase
    color white
    float left
    margin 0 1.5vw
    letter-spacing .08rem
    font-size 1rem
    font-family Avenir-Heavy
    @media laptop
      margin 0 .5vw
    a
      color white
      display block
      border-bottom 3px solid hsla(0, 0%, 100%, 0)
      &.active,&:hover
        border-color hsla(0, 0%, 100%, 0.2)
      
.SecondaryNav
  list-style none
  padding 0
  margin 0
  width 100%
  margin-left .5vw    
  li 
    color white
    float left
    margin 0 1.5vw
    @media laptop
      margin 0 .5vw
    a, span
      color white
      opacity .6
      &:hover
        opacity 1
      