
.NotificationGlobal
	position fixed
	bottom -80px
	width 100vw
	background color-DarkBrown
	color white
	z-index 999999
	left 0vw
	transition 200ms all ease-out
	-webkit-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	-moz-box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	box-shadow: -1px 2px 17px -5px rgba(0,0,0,0.26);
	cursor pointer
	&.Active
		bottom 0px
	@media laptop
		width 47vw
		left 51.5vw
		bottom: -80px
		&.Active
			bottom 0px
.NotificationGlobal p
	padding 2rem
	margin-bottom -.5rem
	//text-align center

.NotificationGlobal em
	font-style normal
	margin-left 1rem

.GetNotification
	cursor pointer

