.ReloadPanel .CardContents
  &:first-child
    border-bottom 1px solid #ccc

#PrimaryCardBalance
#SecondaryCardBalance
  &:before
    content '$'
    margin-right 1px

@media only screen and (max-width: 550px)
  .ReloadPanel .CardContents
    width 100%

.ReloadInformation
  @extends $cf
  margin-bottom 30px

.ReloadAmountOptions
  @extends $cf
  margin-bottom 60px
  position relative
  input[type='radio']
    display none
    opacity 0
    &:checked + label
      background #ccc
  label
    background #eee
    cursor pointer
    padding 20px

.SetAmounts
  @extends $cf
  position absolute
  left 0vw
  width 300px
  transition .2s linear all
  &.offscreen
    left -100vw

.EnterOwnAmountInput
  @extends $cf
  position absolute
  top -10px
  left 150vw
  transition .2s linear all
  input[type='number']
    padding 6px 6px 6px 40px
    position relative
    max-width 300px
    min-width 260px
    width: 100%
    :after
      content '$'
      font-size 24px
      position absolute
      color #000
      display block
      z-index 2
  &.onscreen
    left 0vw

.EnterOwnAmount
  @extends $cf
  margin-bottom 20px

.AutoReloadOption
  margin-bottom 10px

#AutoReloadOn:not(:checked) ~ .AutoReloadOnOptions
  opacity 0
  height 0
  transition .18s linear all
  visibility hidden

#AutoReloadOn:checked ~ .AutoReloadOnOptions
  height auto
  opacity 100%
  transition .18s linear all
  visibility visible

.AutoReloadOnOptions
  margin-left 20px
  margin-top 6px
  input
    min-width 240px
    padding 6px 6px 6px 40px

label
  cursor pointer

input[type='radio']
  margin-right 6px

.PaymentMethodOptions
  @extends $cf
  //border-bottom 1px solid #ccc
  float left
  list-style none
  padding 0
  width 100%
  li
    @extends $cf
    margin-bottom 30px
  img
    display block
    @extends $cf
  input[type='radio']
  label
    display inline-block
    float left
    font-size 15px
    margin-right 6px
    margin-bottom 6px
    @extends $cf
  // input[type='radio']:not(:checked) + label
  // input[type='radio']:checked + label

.inputFields
  @extends $cf
  margin-left 20px
  margin-top 10px
  label
    color #888
    display none
    float left
    font-size 15px
    margin-right 6px
    margin-bottom 6px
    @extends $cf
  input[type="text"]
    color #000
    line-height 24px
    margin-bottom 6px
    padding 10px
    width 100%

.editCardInfo input[disabled]
.editBillingInfo input[disabled]
  color: #888
  outline 0
  border 0
  padding 6px
  width 100%

.editBillingInfo.inputFields
  margin-bottom 6px

#cardDetails
  float left
  font-size 15px
  display none
  width 100%
  @extends $cf
  label
    color #888
.desiredAmount
  color #888
  margin-bottom 8px

.billingTitle
  margin-bottom 10px
  margin-left 20px

#saveBillingInfo
#saveCardInfo
#editBilling
#editCard
  float right
