
/**  Radial Progress
  */
.StarGuage {
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0.8);
  //background-color: #fff;
  border: 1px solid #999;
  border-radius: 50%;
  //box-shadow: 0px 0px 0px 1px #999;
  cursor: pointer;
  height: 51px;
  margin: 0px;
  width: 51px;
  /** for loop for stylus needs to be written to generate
      the breadth of this on the fly.
    */
}
.StarGuage .circle .mask,
.StarGuage .circle .fill {
  border-radius: 50%;
  height: 50px;
  outline: 1px solid transparent;
  position: absolute;
  width: 50px;
}
.StarGuage .circle .mask,
.StarGuage .circle .fill {
  -webkit-backface-visibility: hidden;
  border-radius: 50%;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
}
.StarGuage .circle .mask {
  clip: rect(0px, 50px, 50px, 24px);
}
.StarGuage .circle .mask .fill {
  background-color: #999;
  clip: rect(0px, 24px, 50px, 0px);
}
.StarGuage .inset {
  background-color: #22201e;
  border-radius: 50%;
  height: 44px;
  margin-left: 3px;
  margin-top: 3px;
  position: relative;
  width: 44px;
}
.StarGuage[data-progress="1"] .circle .mask.full,
.StarGuage[data-progress="1"] .circle .fill {
  -webkit-transform: rotate(1.8deg);
  -ms-transform: rotate(1.8deg);
  transform: rotate(1.8deg);
}
.StarGuage[data-progress="1"] .circle .fill.fix {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.StarGuage[data-progress="1"] .inset .percentage .numbers {
  width: 114px;
}
.StarGuage[data-progress="2"] .circle .mask.full,
.StarGuage[data-progress="2"] .circle .fill {
  -webkit-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.StarGuage[data-progress="2"] .circle .fill.fix {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.StarGuage[data-progress="2"] .inset .percentage .numbers {
  width: 171px;
}
.StarGuage[data-progress="3"] .circle .mask.full,
.StarGuage[data-progress="3"] .circle .fill {
  -webkit-transform: rotate(5.4deg);
  -ms-transform: rotate(5.4deg);
  transform: rotate(5.4deg);
}
.StarGuage[data-progress="3"] .circle .fill.fix {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.StarGuage[data-progress="3"] .inset .percentage .numbers {
  width: 228px;
}
.StarGuage[data-progress="4"] .circle .mask.full,
.StarGuage[data-progress="4"] .circle .fill {
  -webkit-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.StarGuage[data-progress="4"] .circle .fill.fix {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.StarGuage[data-progress="4"] .inset .percentage .numbers {
  width: 285px;
}
.StarGuage[data-progress="5"] .circle .mask.full,
.StarGuage[data-progress="5"] .circle .fill {
  -webkit-transform: rotate(9deg);
  -ms-transform: rotate(9deg);
  transform: rotate(9deg);
}
.StarGuage[data-progress="5"] .circle .fill.fix {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.StarGuage[data-progress="5"] .inset .percentage .numbers {
  width: 342px;
}
.StarGuage[data-progress="6"] .circle .mask.full,
.StarGuage[data-progress="6"] .circle .fill {
  -webkit-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.StarGuage[data-progress="6"] .circle .fill.fix {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.StarGuage[data-progress="6"] .inset .percentage .numbers {
  width: 399px;
}
.StarGuage[data-progress="7"] .circle .mask.full,
.StarGuage[data-progress="7"] .circle .fill {
  -webkit-transform: rotate(12.6deg);
  -ms-transform: rotate(12.6deg);
  transform: rotate(12.6deg);
}
.StarGuage[data-progress="7"] .circle .fill.fix {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.StarGuage[data-progress="7"] .inset .percentage .numbers {
  width: 456px;
}
.StarGuage[data-progress="8"] .circle .mask.full,
.StarGuage[data-progress="8"] .circle .fill {
  -webkit-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.StarGuage[data-progress="8"] .circle .fill.fix {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.StarGuage[data-progress="8"] .inset .percentage .numbers {
  width: 513px;
}
.StarGuage[data-progress="9"] .circle .mask.full,
.StarGuage[data-progress="9"] .circle .fill {
  -webkit-transform: rotate(16.2deg);
  -ms-transform: rotate(16.2deg);
  transform: rotate(16.2deg);
}
.StarGuage[data-progress="9"] .circle .fill.fix {
  -webkit-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.StarGuage[data-progress="9"] .inset .percentage .numbers {
  width: 570px;
}
.StarGuage[data-progress="10"] .circle .mask.full,
.StarGuage[data-progress="10"] .circle .fill {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
.StarGuage[data-progress="10"] .circle .fill.fix {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.StarGuage[data-progress="10"] .inset .percentage .numbers {
  width: 627px;
}
.StarGuage[data-progress="11"] .circle .mask.full,
.StarGuage[data-progress="11"] .circle .fill {
  -webkit-transform: rotate(19.8deg);
  -ms-transform: rotate(19.8deg);
  transform: rotate(19.8deg);
}
.StarGuage[data-progress="11"] .circle .fill.fix {
  -webkit-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.StarGuage[data-progress="11"] .inset .percentage .numbers {
  width: 684px;
}
.StarGuage[data-progress="12"] .circle .mask.full,
.StarGuage[data-progress="12"] .circle .fill {
  -webkit-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.StarGuage[data-progress="12"] .circle .fill.fix {
  -webkit-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.StarGuage[data-progress="12"] .inset .percentage .numbers {
  width: 741px;
}
.StarGuage[data-progress="13"] .circle .mask.full,
.StarGuage[data-progress="13"] .circle .fill {
  -webkit-transform: rotate(23.4deg);
  -ms-transform: rotate(23.4deg);
  transform: rotate(23.4deg);
}
.StarGuage[data-progress="13"] .circle .fill.fix {
  -webkit-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.StarGuage[data-progress="13"] .inset .percentage .numbers {
  width: 798px;
}
.StarGuage[data-progress="14"] .circle .mask.full,
.StarGuage[data-progress="14"] .circle .fill {
  -webkit-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.StarGuage[data-progress="14"] .circle .fill.fix {
  -webkit-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.StarGuage[data-progress="14"] .inset .percentage .numbers {
  width: 855px;
}
.StarGuage[data-progress="15"] .circle .mask.full,
.StarGuage[data-progress="15"] .circle .fill {
  -webkit-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  transform: rotate(27deg);
}
.StarGuage[data-progress="15"] .circle .fill.fix {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}
.StarGuage[data-progress="15"] .inset .percentage .numbers {
  width: 912px;
}
.StarGuage[data-progress="16"] .circle .mask.full,
.StarGuage[data-progress="16"] .circle .fill {
  -webkit-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.StarGuage[data-progress="16"] .circle .fill.fix {
  -webkit-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.StarGuage[data-progress="16"] .inset .percentage .numbers {
  width: 969px;
}
.StarGuage[data-progress="17"] .circle .mask.full,
.StarGuage[data-progress="17"] .circle .fill {
  -webkit-transform: rotate(30.6deg);
  -ms-transform: rotate(30.6deg);
  transform: rotate(30.6deg);
}
.StarGuage[data-progress="17"] .circle .fill.fix {
  -webkit-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.StarGuage[data-progress="17"] .inset .percentage .numbers {
  width: 1026px;
}
.StarGuage[data-progress="18"] .circle .mask.full,
.StarGuage[data-progress="18"] .circle .fill {
  -webkit-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.StarGuage[data-progress="18"] .circle .fill.fix {
  -webkit-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.StarGuage[data-progress="18"] .inset .percentage .numbers {
  width: 1083px;
}
.StarGuage[data-progress="19"] .circle .mask.full,
.StarGuage[data-progress="19"] .circle .fill {
  -webkit-transform: rotate(34.2deg);
  -ms-transform: rotate(34.2deg);
  transform: rotate(34.2deg);
}
.StarGuage[data-progress="19"] .circle .fill.fix {
  -webkit-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.StarGuage[data-progress="19"] .inset .percentage .numbers {
  width: 1140px;
}
.StarGuage[data-progress="20"] .circle .mask.full,
.StarGuage[data-progress="20"] .circle .fill {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
}
.StarGuage[data-progress="20"] .circle .fill.fix {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}
.StarGuage[data-progress="20"] .inset .percentage .numbers {
  width: 1197px;
}
.StarGuage[data-progress="21"] .circle .mask.full,
.StarGuage[data-progress="21"] .circle .fill {
  -webkit-transform: rotate(37.8deg);
  -ms-transform: rotate(37.8deg);
  transform: rotate(37.8deg);
}
.StarGuage[data-progress="21"] .circle .fill.fix {
  -webkit-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.StarGuage[data-progress="21"] .inset .percentage .numbers {
  width: 1254px;
}
.StarGuage[data-progress="22"] .circle .mask.full,
.StarGuage[data-progress="22"] .circle .fill {
  -webkit-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.StarGuage[data-progress="22"] .circle .fill.fix {
  -webkit-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.StarGuage[data-progress="22"] .inset .percentage .numbers {
  width: 1311px;
}
.StarGuage[data-progress="23"] .circle .mask.full,
.StarGuage[data-progress="23"] .circle .fill {
  -webkit-transform: rotate(41.4deg);
  -ms-transform: rotate(41.4deg);
  transform: rotate(41.4deg);
}
.StarGuage[data-progress="23"] .circle .fill.fix {
  -webkit-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.StarGuage[data-progress="23"] .inset .percentage .numbers {
  width: 1368px;
}
.StarGuage[data-progress="24"] .circle .mask.full,
.StarGuage[data-progress="24"] .circle .fill {
  -webkit-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.StarGuage[data-progress="24"] .circle .fill.fix {
  -webkit-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.StarGuage[data-progress="24"] .inset .percentage .numbers {
  width: 1425px;
}
.StarGuage[data-progress="25"] .circle .mask.full,
.StarGuage[data-progress="25"] .circle .fill {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.StarGuage[data-progress="25"] .circle .fill.fix {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.StarGuage[data-progress="25"] .inset .percentage .numbers {
  width: 1482px;
}
.StarGuage[data-progress="26"] .circle .mask.full,
.StarGuage[data-progress="26"] .circle .fill {
  -webkit-transform: rotate(46.8deg);
  -ms-transform: rotate(46.8deg);
  transform: rotate(46.8deg);
}
.StarGuage[data-progress="26"] .circle .fill.fix {
  -webkit-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.StarGuage[data-progress="26"] .inset .percentage .numbers {
  width: 1539px;
}
.StarGuage[data-progress="27"] .circle .mask.full,
.StarGuage[data-progress="27"] .circle .fill {
  -webkit-transform: rotate(48.6deg);
  -ms-transform: rotate(48.6deg);
  transform: rotate(48.6deg);
}
.StarGuage[data-progress="27"] .circle .fill.fix {
  -webkit-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.StarGuage[data-progress="27"] .inset .percentage .numbers {
  width: 1596px;
}
.StarGuage[data-progress="28"] .circle .mask.full,
.StarGuage[data-progress="28"] .circle .fill {
  -webkit-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.StarGuage[data-progress="28"] .circle .fill.fix {
  -webkit-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.StarGuage[data-progress="28"] .inset .percentage .numbers {
  width: 1653px;
}
.StarGuage[data-progress="29"] .circle .mask.full,
.StarGuage[data-progress="29"] .circle .fill {
  -webkit-transform: rotate(52.2deg);
  -ms-transform: rotate(52.2deg);
  transform: rotate(52.2deg);
}
.StarGuage[data-progress="29"] .circle .fill.fix {
  -webkit-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.StarGuage[data-progress="29"] .inset .percentage .numbers {
  width: 1710px;
}
.StarGuage[data-progress="30"] .circle .mask.full,
.StarGuage[data-progress="30"] .circle .fill {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg);
}
.StarGuage[data-progress="30"] .circle .fill.fix {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}
.StarGuage[data-progress="30"] .inset .percentage .numbers {
  width: 1767px;
}
.StarGuage[data-progress="31"] .circle .mask.full,
.StarGuage[data-progress="31"] .circle .fill {
  -webkit-transform: rotate(55.8deg);
  -ms-transform: rotate(55.8deg);
  transform: rotate(55.8deg);
}
.StarGuage[data-progress="31"] .circle .fill.fix {
  -webkit-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.StarGuage[data-progress="31"] .inset .percentage .numbers {
  width: 1824px;
}
.StarGuage[data-progress="32"] .circle .mask.full,
.StarGuage[data-progress="32"] .circle .fill {
  -webkit-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.StarGuage[data-progress="32"] .circle .fill.fix {
  -webkit-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.StarGuage[data-progress="32"] .inset .percentage .numbers {
  width: 1881px;
}
.StarGuage[data-progress="33"] .circle .mask.full,
.StarGuage[data-progress="33"] .circle .fill {
  -webkit-transform: rotate(59.4deg);
  -ms-transform: rotate(59.4deg);
  transform: rotate(59.4deg);
}
.StarGuage[data-progress="33"] .circle .fill.fix {
  -webkit-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.StarGuage[data-progress="33"] .inset .percentage .numbers {
  width: 1938px;
}
.StarGuage[data-progress="34"] .circle .mask.full,
.StarGuage[data-progress="34"] .circle .fill {
  -webkit-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.StarGuage[data-progress="34"] .circle .fill.fix {
  -webkit-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.StarGuage[data-progress="34"] .inset .percentage .numbers {
  width: 1995px;
}
.StarGuage[data-progress="35"] .circle .mask.full,
.StarGuage[data-progress="35"] .circle .fill {
  -webkit-transform: rotate(63deg);
  -ms-transform: rotate(63deg);
  transform: rotate(63deg);
}
.StarGuage[data-progress="35"] .circle .fill.fix {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}
.StarGuage[data-progress="35"] .inset .percentage .numbers {
  width: 2052px;
}
.StarGuage[data-progress="36"] .circle .mask.full,
.StarGuage[data-progress="36"] .circle .fill {
  -webkit-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.StarGuage[data-progress="36"] .circle .fill.fix {
  -webkit-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.StarGuage[data-progress="36"] .inset .percentage .numbers {
  width: 2109px;
}
.StarGuage[data-progress="37"] .circle .mask.full,
.StarGuage[data-progress="37"] .circle .fill {
  -webkit-transform: rotate(66.6deg);
  -ms-transform: rotate(66.6deg);
  transform: rotate(66.6deg);
}
.StarGuage[data-progress="37"] .circle .fill.fix {
  -webkit-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.StarGuage[data-progress="37"] .inset .percentage .numbers {
  width: 2166px;
}
.StarGuage[data-progress="38"] .circle .mask.full,
.StarGuage[data-progress="38"] .circle .fill {
  -webkit-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.StarGuage[data-progress="38"] .circle .fill.fix {
  -webkit-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.StarGuage[data-progress="38"] .inset .percentage .numbers {
  width: 2223px;
}
.StarGuage[data-progress="39"] .circle .mask.full,
.StarGuage[data-progress="39"] .circle .fill {
  -webkit-transform: rotate(70.2deg);
  -ms-transform: rotate(70.2deg);
  transform: rotate(70.2deg);
}
.StarGuage[data-progress="39"] .circle .fill.fix {
  -webkit-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.StarGuage[data-progress="39"] .inset .percentage .numbers {
  width: 2280px;
}
.StarGuage[data-progress="40"] .circle .mask.full,
.StarGuage[data-progress="40"] .circle .fill {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg);
}
.StarGuage[data-progress="40"] .circle .fill.fix {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}
.StarGuage[data-progress="40"] .inset .percentage .numbers {
  width: 2337px;
}
.StarGuage[data-progress="41"] .circle .mask.full,
.StarGuage[data-progress="41"] .circle .fill {
  -webkit-transform: rotate(73.8deg);
  -ms-transform: rotate(73.8deg);
  transform: rotate(73.8deg);
}
.StarGuage[data-progress="41"] .circle .fill.fix {
  -webkit-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.StarGuage[data-progress="41"] .inset .percentage .numbers {
  width: 2394px;
}
.StarGuage[data-progress="42"] .circle .mask.full,
.StarGuage[data-progress="42"] .circle .fill {
  -webkit-transform: rotate(75.6deg);
  -ms-transform: rotate(75.6deg);
  transform: rotate(75.6deg);
}
.StarGuage[data-progress="42"] .circle .fill.fix {
  -webkit-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.StarGuage[data-progress="42"] .inset .percentage .numbers {
  width: 2451px;
}
.StarGuage[data-progress="43"] .circle .mask.full,
.StarGuage[data-progress="43"] .circle .fill {
  -webkit-transform: rotate(77.4deg);
  -ms-transform: rotate(77.4deg);
  transform: rotate(77.4deg);
}
.StarGuage[data-progress="43"] .circle .fill.fix {
  -webkit-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.StarGuage[data-progress="43"] .inset .percentage .numbers {
  width: 2508px;
}
.StarGuage[data-progress="44"] .circle .mask.full,
.StarGuage[data-progress="44"] .circle .fill {
  -webkit-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.StarGuage[data-progress="44"] .circle .fill.fix {
  -webkit-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.StarGuage[data-progress="44"] .inset .percentage .numbers {
  width: 2565px;
}
.StarGuage[data-progress="45"] .circle .mask.full,
.StarGuage[data-progress="45"] .circle .fill {
  -webkit-transform: rotate(81deg);
  -ms-transform: rotate(81deg);
  transform: rotate(81deg);
}
.StarGuage[data-progress="45"] .circle .fill.fix {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}
.StarGuage[data-progress="45"] .inset .percentage .numbers {
  width: 2622px;
}
.StarGuage[data-progress="46"] .circle .mask.full,
.StarGuage[data-progress="46"] .circle .fill {
  -webkit-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.StarGuage[data-progress="46"] .circle .fill.fix {
  -webkit-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.StarGuage[data-progress="46"] .inset .percentage .numbers {
  width: 2679px;
}
.StarGuage[data-progress="47"] .circle .mask.full,
.StarGuage[data-progress="47"] .circle .fill {
  -webkit-transform: rotate(84.6deg);
  -ms-transform: rotate(84.6deg);
  transform: rotate(84.6deg);
}
.StarGuage[data-progress="47"] .circle .fill.fix {
  -webkit-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.StarGuage[data-progress="47"] .inset .percentage .numbers {
  width: 2736px;
}
.StarGuage[data-progress="48"] .circle .mask.full,
.StarGuage[data-progress="48"] .circle .fill {
  -webkit-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.StarGuage[data-progress="48"] .circle .fill.fix {
  -webkit-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.StarGuage[data-progress="48"] .inset .percentage .numbers {
  width: 2793px;
}
.StarGuage[data-progress="49"] .circle .mask.full,
.StarGuage[data-progress="49"] .circle .fill {
  -webkit-transform: rotate(88.2deg);
  -ms-transform: rotate(88.2deg);
  transform: rotate(88.2deg);
}
.StarGuage[data-progress="49"] .circle .fill.fix {
  -webkit-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.StarGuage[data-progress="49"] .inset .percentage .numbers {
  width: 2850px;
}
.StarGuage[data-progress="50"] .circle .mask.full,
.StarGuage[data-progress="50"] .circle .fill {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.StarGuage[data-progress="50"] .circle .fill.fix {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.StarGuage[data-progress="50"] .inset .percentage .numbers {
  width: 2907px;
}
.StarGuage[data-progress="51"] .circle .mask.full,
.StarGuage[data-progress="51"] .circle .fill {
  -webkit-transform: rotate(91.8deg);
  -ms-transform: rotate(91.8deg);
  transform: rotate(91.8deg);
}
.StarGuage[data-progress="51"] .circle .fill.fix {
  -webkit-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.StarGuage[data-progress="51"] .inset .percentage .numbers {
  width: 2964px;
}
.StarGuage[data-progress="52"] .circle .mask.full,
.StarGuage[data-progress="52"] .circle .fill {
  -webkit-transform: rotate(93.6deg);
  -ms-transform: rotate(93.6deg);
  transform: rotate(93.6deg);
}
.StarGuage[data-progress="52"] .circle .fill.fix {
  -webkit-transform: rotate(187.2deg);
  -ms-transform: rotate(187.2deg);
  transform: rotate(187.2deg);
}
.StarGuage[data-progress="52"] .inset .percentage .numbers {
  width: 3021px;
}
.StarGuage[data-progress="53"] .circle .mask.full,
.StarGuage[data-progress="53"] .circle .fill {
  -webkit-transform: rotate(95.4deg);
  -ms-transform: rotate(95.4deg);
  transform: rotate(95.4deg);
}
.StarGuage[data-progress="53"] .circle .fill.fix {
  -webkit-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.StarGuage[data-progress="53"] .inset .percentage .numbers {
  width: 3078px;
}
.StarGuage[data-progress="54"] .circle .mask.full,
.StarGuage[data-progress="54"] .circle .fill {
  -webkit-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.StarGuage[data-progress="54"] .circle .fill.fix {
  -webkit-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.StarGuage[data-progress="54"] .inset .percentage .numbers {
  width: 3135px;
}
.StarGuage[data-progress="55"] .circle .mask.full,
.StarGuage[data-progress="55"] .circle .fill {
  -webkit-transform: rotate(99deg);
  -ms-transform: rotate(99deg);
  transform: rotate(99deg);
}
.StarGuage[data-progress="55"] .circle .fill.fix {
  -webkit-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg);
}
.StarGuage[data-progress="55"] .inset .percentage .numbers {
  width: 3192px;
}
.StarGuage[data-progress="56"] .circle .mask.full,
.StarGuage[data-progress="56"] .circle .fill {
  -webkit-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.StarGuage[data-progress="56"] .circle .fill.fix {
  -webkit-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.StarGuage[data-progress="56"] .inset .percentage .numbers {
  width: 3249px;
}
.StarGuage[data-progress="57"] .circle .mask.full,
.StarGuage[data-progress="57"] .circle .fill {
  -webkit-transform: rotate(102.6deg);
  -ms-transform: rotate(102.6deg);
  transform: rotate(102.6deg);
}
.StarGuage[data-progress="57"] .circle .fill.fix {
  -webkit-transform: rotate(205.2deg);
  -ms-transform: rotate(205.2deg);
  transform: rotate(205.2deg);
}
.StarGuage[data-progress="57"] .inset .percentage .numbers {
  width: 3306px;
}
.StarGuage[data-progress="58"] .circle .mask.full,
.StarGuage[data-progress="58"] .circle .fill {
  -webkit-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.StarGuage[data-progress="58"] .circle .fill.fix {
  -webkit-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.StarGuage[data-progress="58"] .inset .percentage .numbers {
  width: 3363px;
}
.StarGuage[data-progress="59"] .circle .mask.full,
.StarGuage[data-progress="59"] .circle .fill {
  -webkit-transform: rotate(106.2deg);
  -ms-transform: rotate(106.2deg);
  transform: rotate(106.2deg);
}
.StarGuage[data-progress="59"] .circle .fill.fix {
  -webkit-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.StarGuage[data-progress="59"] .inset .percentage .numbers {
  width: 3420px;
}
.StarGuage[data-progress="60"] .circle .mask.full,
.StarGuage[data-progress="60"] .circle .fill {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg);
}
.StarGuage[data-progress="60"] .circle .fill.fix {
  -webkit-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg);
}
.StarGuage[data-progress="60"] .inset .percentage .numbers {
  width: 3477px;
}
.StarGuage[data-progress="61"] .circle .mask.full,
.StarGuage[data-progress="61"] .circle .fill {
  -webkit-transform: rotate(109.8deg);
  -ms-transform: rotate(109.8deg);
  transform: rotate(109.8deg);
}
.StarGuage[data-progress="61"] .circle .fill.fix {
  -webkit-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.StarGuage[data-progress="61"] .inset .percentage .numbers {
  width: 3534px;
}
.StarGuage[data-progress="62"] .circle .mask.full,
.StarGuage[data-progress="62"] .circle .fill {
  -webkit-transform: rotate(111.6deg);
  -ms-transform: rotate(111.6deg);
  transform: rotate(111.6deg);
}
.StarGuage[data-progress="62"] .circle .fill.fix {
  -webkit-transform: rotate(223.2deg);
  -ms-transform: rotate(223.2deg);
  transform: rotate(223.2deg);
}
.StarGuage[data-progress="62"] .inset .percentage .numbers {
  width: 3591px;
}
.StarGuage[data-progress="63"] .circle .mask.full,
.StarGuage[data-progress="63"] .circle .fill {
  -webkit-transform: rotate(113.4deg);
  -ms-transform: rotate(113.4deg);
  transform: rotate(113.4deg);
}
.StarGuage[data-progress="63"] .circle .fill.fix {
  -webkit-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.StarGuage[data-progress="63"] .inset .percentage .numbers {
  width: 3648px;
}
.StarGuage[data-progress="64"] .circle .mask.full,
.StarGuage[data-progress="64"] .circle .fill {
  -webkit-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.StarGuage[data-progress="64"] .circle .fill.fix {
  -webkit-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.StarGuage[data-progress="64"] .inset .percentage .numbers {
  width: 3705px;
}
.StarGuage[data-progress="65"] .circle .mask.full,
.StarGuage[data-progress="65"] .circle .fill {
  -webkit-transform: rotate(117deg);
  -ms-transform: rotate(117deg);
  transform: rotate(117deg);
}
.StarGuage[data-progress="65"] .circle .fill.fix {
  -webkit-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  transform: rotate(234deg);
}
.StarGuage[data-progress="65"] .inset .percentage .numbers {
  width: 3762px;
}
.StarGuage[data-progress="66"] .circle .mask.full,
.StarGuage[data-progress="66"] .circle .fill {
  -webkit-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.StarGuage[data-progress="66"] .circle .fill.fix {
  -webkit-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.StarGuage[data-progress="66"] .inset .percentage .numbers {
  width: 3819px;
}
.StarGuage[data-progress="67"] .circle .mask.full,
.StarGuage[data-progress="67"] .circle .fill {
  -webkit-transform: rotate(120.6deg);
  -ms-transform: rotate(120.6deg);
  transform: rotate(120.6deg);
}
.StarGuage[data-progress="67"] .circle .fill.fix {
  -webkit-transform: rotate(241.2deg);
  -ms-transform: rotate(241.2deg);
  transform: rotate(241.2deg);
}
.StarGuage[data-progress="67"] .inset .percentage .numbers {
  width: 3876px;
}
.StarGuage[data-progress="68"] .circle .mask.full,
.StarGuage[data-progress="68"] .circle .fill {
  -webkit-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.StarGuage[data-progress="68"] .circle .fill.fix {
  -webkit-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.StarGuage[data-progress="68"] .inset .percentage .numbers {
  width: 3933px;
}
.StarGuage[data-progress="69"] .circle .mask.full,
.StarGuage[data-progress="69"] .circle .fill {
  -webkit-transform: rotate(124.2deg);
  -ms-transform: rotate(124.2deg);
  transform: rotate(124.2deg);
}
.StarGuage[data-progress="69"] .circle .fill.fix {
  -webkit-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.StarGuage[data-progress="69"] .inset .percentage .numbers {
  width: 3990px;
}
.StarGuage[data-progress="70"] .circle .mask.full,
.StarGuage[data-progress="70"] .circle .fill {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg);
}
.StarGuage[data-progress="70"] .circle .fill.fix {
  -webkit-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  transform: rotate(252deg);
}
.StarGuage[data-progress="70"] .inset .percentage .numbers {
  width: 4047px;
}
.StarGuage[data-progress="71"] .circle .mask.full,
.StarGuage[data-progress="71"] .circle .fill {
  -webkit-transform: rotate(127.8deg);
  -ms-transform: rotate(127.8deg);
  transform: rotate(127.8deg);
}
.StarGuage[data-progress="71"] .circle .fill.fix {
  -webkit-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.StarGuage[data-progress="71"] .inset .percentage .numbers {
  width: 4104px;
}
.StarGuage[data-progress="72"] .circle .mask.full,
.StarGuage[data-progress="72"] .circle .fill {
  -webkit-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.StarGuage[data-progress="72"] .circle .fill.fix {
  -webkit-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.StarGuage[data-progress="72"] .inset .percentage .numbers {
  width: 4161px;
}
.StarGuage[data-progress="73"] .circle .mask.full,
.StarGuage[data-progress="73"] .circle .fill {
  -webkit-transform: rotate(131.4deg);
  -ms-transform: rotate(131.4deg);
  transform: rotate(131.4deg);
}
.StarGuage[data-progress="73"] .circle .fill.fix {
  -webkit-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.StarGuage[data-progress="73"] .inset .percentage .numbers {
  width: 4218px;
}
.StarGuage[data-progress="74"] .circle .mask.full,
.StarGuage[data-progress="74"] .circle .fill {
  -webkit-transform: rotate(133.2deg);
  -ms-transform: rotate(133.2deg);
  transform: rotate(133.2deg);
}
.StarGuage[data-progress="74"] .circle .fill.fix {
  -webkit-transform: rotate(266.4deg);
  -ms-transform: rotate(266.4deg);
  transform: rotate(266.4deg);
}
.StarGuage[data-progress="74"] .inset .percentage .numbers {
  width: 4275px;
}
.StarGuage[data-progress="75"] .circle .mask.full,
.StarGuage[data-progress="75"] .circle .fill {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.StarGuage[data-progress="75"] .circle .fill.fix {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.StarGuage[data-progress="75"] .inset .percentage .numbers {
  width: 4332px;
}
.StarGuage[data-progress="76"] .circle .mask.full,
.StarGuage[data-progress="76"] .circle .fill {
  -webkit-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.StarGuage[data-progress="76"] .circle .fill.fix {
  -webkit-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.StarGuage[data-progress="76"] .inset .percentage .numbers {
  width: 4389px;
}
.StarGuage[data-progress="77"] .circle .mask.full,
.StarGuage[data-progress="77"] .circle .fill {
  -webkit-transform: rotate(138.6deg);
  -ms-transform: rotate(138.6deg);
  transform: rotate(138.6deg);
}
.StarGuage[data-progress="77"] .circle .fill.fix {
  -webkit-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.StarGuage[data-progress="77"] .inset .percentage .numbers {
  width: 4446px;
}
.StarGuage[data-progress="78"] .circle .mask.full,
.StarGuage[data-progress="78"] .circle .fill {
  -webkit-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.StarGuage[data-progress="78"] .circle .fill.fix {
  -webkit-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.StarGuage[data-progress="78"] .inset .percentage .numbers {
  width: 4503px;
}
.StarGuage[data-progress="79"] .circle .mask.full,
.StarGuage[data-progress="79"] .circle .fill {
  -webkit-transform: rotate(142.2deg);
  -ms-transform: rotate(142.2deg);
  transform: rotate(142.2deg);
}
.StarGuage[data-progress="79"] .circle .fill.fix {
  -webkit-transform: rotate(284.4deg);
  -ms-transform: rotate(284.4deg);
  transform: rotate(284.4deg);
}
.StarGuage[data-progress="79"] .inset .percentage .numbers {
  width: 4560px;
}
.StarGuage[data-progress="80"] .circle .mask.full,
.StarGuage[data-progress="80"] .circle .fill {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg);
}
.StarGuage[data-progress="80"] .circle .fill.fix {
  -webkit-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg);
}
.StarGuage[data-progress="80"] .inset .percentage .numbers {
  width: 4617px;
}
.StarGuage[data-progress="81"] .circle .mask.full,
.StarGuage[data-progress="81"] .circle .fill {
  -webkit-transform: rotate(145.8deg);
  -ms-transform: rotate(145.8deg);
  transform: rotate(145.8deg);
}
.StarGuage[data-progress="81"] .circle .fill.fix {
  -webkit-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.StarGuage[data-progress="81"] .inset .percentage .numbers {
  width: 4674px;
}
.StarGuage[data-progress="82"] .circle .mask.full,
.StarGuage[data-progress="82"] .circle .fill {
  -webkit-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.StarGuage[data-progress="82"] .circle .fill.fix {
  -webkit-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.StarGuage[data-progress="82"] .inset .percentage .numbers {
  width: 4731px;
}
.StarGuage[data-progress="83"] .circle .mask.full,
.StarGuage[data-progress="83"] .circle .fill {
  -webkit-transform: rotate(149.4deg);
  -ms-transform: rotate(149.4deg);
  transform: rotate(149.4deg);
}
.StarGuage[data-progress="83"] .circle .fill.fix {
  -webkit-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.StarGuage[data-progress="83"] .inset .percentage .numbers {
  width: 4788px;
}
.StarGuage[data-progress="84"] .circle .mask.full,
.StarGuage[data-progress="84"] .circle .fill {
  -webkit-transform: rotate(151.2deg);
  -ms-transform: rotate(151.2deg);
  transform: rotate(151.2deg);
}
.StarGuage[data-progress="84"] .circle .fill.fix {
  -webkit-transform: rotate(302.4deg);
  -ms-transform: rotate(302.4deg);
  transform: rotate(302.4deg);
}
.StarGuage[data-progress="84"] .inset .percentage .numbers {
  width: 4845px;
}
.StarGuage[data-progress="85"] .circle .mask.full,
.StarGuage[data-progress="85"] .circle .fill {
  -webkit-transform: rotate(153deg);
  -ms-transform: rotate(153deg);
  transform: rotate(153deg);
}
.StarGuage[data-progress="85"] .circle .fill.fix {
  -webkit-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  transform: rotate(306deg);
}
.StarGuage[data-progress="85"] .inset .percentage .numbers {
  width: 4902px;
}
.StarGuage[data-progress="86"] .circle .mask.full,
.StarGuage[data-progress="86"] .circle .fill {
  -webkit-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.StarGuage[data-progress="86"] .circle .fill.fix {
  -webkit-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.StarGuage[data-progress="86"] .inset .percentage .numbers {
  width: 4959px;
}
.StarGuage[data-progress="87"] .circle .mask.full,
.StarGuage[data-progress="87"] .circle .fill {
  -webkit-transform: rotate(156.6deg);
  -ms-transform: rotate(156.6deg);
  transform: rotate(156.6deg);
}
.StarGuage[data-progress="87"] .circle .fill.fix {
  -webkit-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.StarGuage[data-progress="87"] .inset .percentage .numbers {
  width: 5016px;
}
.StarGuage[data-progress="88"] .circle .mask.full,
.StarGuage[data-progress="88"] .circle .fill {
  -webkit-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.StarGuage[data-progress="88"] .circle .fill.fix {
  -webkit-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.StarGuage[data-progress="88"] .inset .percentage .numbers {
  width: 5073px;
}
.StarGuage[data-progress="89"] .circle .mask.full,
.StarGuage[data-progress="89"] .circle .fill {
  -webkit-transform: rotate(160.2deg);
  -ms-transform: rotate(160.2deg);
  transform: rotate(160.2deg);
}
.StarGuage[data-progress="89"] .circle .fill.fix {
  -webkit-transform: rotate(320.4deg);
  -ms-transform: rotate(320.4deg);
  transform: rotate(320.4deg);
}
.StarGuage[data-progress="89"] .inset .percentage .numbers {
  width: 5130px;
}
.StarGuage[data-progress="90"] .circle .mask.full,
.StarGuage[data-progress="90"] .circle .fill {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg);
}
.StarGuage[data-progress="90"] .circle .fill.fix {
  -webkit-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg);
}
.StarGuage[data-progress="90"] .inset .percentage .numbers {
  width: 5187px;
}
.StarGuage[data-progress="91"] .circle .mask.full,
.StarGuage[data-progress="91"] .circle .fill {
  -webkit-transform: rotate(163.8deg);
  -ms-transform: rotate(163.8deg);
  transform: rotate(163.8deg);
}
.StarGuage[data-progress="91"] .circle .fill.fix {
  -webkit-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.StarGuage[data-progress="91"] .inset .percentage .numbers {
  width: 5244px;
}
.StarGuage[data-progress="92"] .circle .mask.full,
.StarGuage[data-progress="92"] .circle .fill {
  -webkit-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.StarGuage[data-progress="92"] .circle .fill.fix {
  -webkit-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.StarGuage[data-progress="92"] .inset .percentage .numbers {
  width: 5301px;
}
.StarGuage[data-progress="93"] .circle .mask.full,
.StarGuage[data-progress="93"] .circle .fill {
  -webkit-transform: rotate(167.4deg);
  -ms-transform: rotate(167.4deg);
  transform: rotate(167.4deg);
}
.StarGuage[data-progress="93"] .circle .fill.fix {
  -webkit-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.StarGuage[data-progress="93"] .inset .percentage .numbers {
  width: 5358px;
}
.StarGuage[data-progress="94"] .circle .mask.full,
.StarGuage[data-progress="94"] .circle .fill {
  -webkit-transform: rotate(169.2deg);
  -ms-transform: rotate(169.2deg);
  transform: rotate(169.2deg);
}
.StarGuage[data-progress="94"] .circle .fill.fix {
  -webkit-transform: rotate(338.4deg);
  -ms-transform: rotate(338.4deg);
  transform: rotate(338.4deg);
}
.StarGuage[data-progress="94"] .inset .percentage .numbers {
  width: 5415px;
}
.StarGuage[data-progress="95"] .circle .mask.full,
.StarGuage[data-progress="95"] .circle .fill {
  -webkit-transform: rotate(171deg);
  -ms-transform: rotate(171deg);
  transform: rotate(171deg);
}
.StarGuage[data-progress="95"] .circle .fill.fix {
  -webkit-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  transform: rotate(342deg);
}
.StarGuage[data-progress="95"] .inset .percentage .numbers {
  width: 5472px;
}
.StarGuage[data-progress="96"] .circle .mask.full,
.StarGuage[data-progress="96"] .circle .fill {
  -webkit-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.StarGuage[data-progress="96"] .circle .fill.fix {
  -webkit-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.StarGuage[data-progress="96"] .inset .percentage .numbers {
  width: 5529px;
}
.StarGuage[data-progress="97"] .circle .mask.full,
.StarGuage[data-progress="97"] .circle .fill {
  -webkit-transform: rotate(174.6deg);
  -ms-transform: rotate(174.6deg);
  transform: rotate(174.6deg);
}
.StarGuage[data-progress="97"] .circle .fill.fix {
  -webkit-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.StarGuage[data-progress="97"] .inset .percentage .numbers {
  width: 5586px;
}
.StarGuage[data-progress="98"] .circle .mask.full,
.StarGuage[data-progress="98"] .circle .fill {
  -webkit-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.StarGuage[data-progress="98"] .circle .fill.fix {
  -webkit-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.StarGuage[data-progress="98"] .inset .percentage .numbers {
  width: 5643px;
}
.StarGuage[data-progress="99"] .circle .mask.full,
.StarGuage[data-progress="99"] .circle .fill {
  -webkit-transform: rotate(178.2deg);
  -ms-transform: rotate(178.2deg);
  transform: rotate(178.2deg);
}
.StarGuage[data-progress="99"] .circle .fill.fix {
  -webkit-transform: rotate(356.4deg);
  -ms-transform: rotate(356.4deg);
  transform: rotate(356.4deg);
}
.StarGuage[data-progress="99"] .inset .percentage .numbers {
  width: 5700px;
}
.StarGuage[data-progress="100"] .circle .mask.full,
.StarGuage[data-progress="100"] .circle .fill {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.StarGuage[data-progress="100"] .circle .fill.fix {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.StarGuage[data-progress="100"] .inset .percentage .numbers {
  width: 5757px;
}

.StarGuage.gold .mask.full .fill,
.StarGuage.gold .mask.half .fill {
  background-color: #c2a661;
}

.StarGuage.gold {
  border: 1px solid #c2a661;
  //box-shadow: 0px 0px 0px 1px #c2a661;
}

/** SVG Star
  */
.svg-star {
  position: absolute;
  top: -37px;
  right: -27px;
}

.round-star {
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 47px;
  right: 37px;
  transform: rotate(0deg);
}

.svg-star svg g {
  fill: none;
  fill-rule: evenodd;
  shape-rendering: geometricPrecision;
  stroke: #999;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(0, 0, 0);
}

.filled.gold svg g {
  fill: #C2A661;
  stroke: #C2A661;
}

.filled.gold.reward svg g {
  fill: url(#rewardGlint);
  stroke: #C2A661;
}

.filled.green svg g {
  fill: #999;
  stroke: #999;
}

.gold svg g {
  fill: none;
  stroke: #C2A661;
}

.green svg g {
  fill: none;
  stroke: #999;
}

@keyframes glint {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}
.starGlint {
  background: #C2A661;
  height: 50px;
  width: 50px;
  -webkit-clip-path: polygon(50% 9%, 60.5% 39.5%, 92.7% 40.1%, 67% 59.5%, 76.4% 90.3%, 50% 71.9%, 23.6% 90.3%, 32.9% 59.5%, 7.2% 40.1%, 39.4% 39.5%);
}
