.StoreResults
	width 100%
	margin-left 0
	margin-top 8vw

.StoresFilterContainer
	padding 1vw 0
	width 90%
	position fixed
	background-color color-DarkBrown
	z-index 99999999
	margin-top -1vw
	@media laptop	
		width 44%

.StoresFilter
	width 100%
	background white
	background white
	border-radius 2px
	border 1px solid #ccc
	margin-bottom 2rem
	padding 1rem
	
.StoresFilter p
	color black
	margin 0
	
.StoresResultsList
	margin-top 6.5vw

.StoresResultsItem
	width 100%
	background white
	background white
	border-radius 2px
	border 1px solid #ccc
	height 10rem
	margin-bottom .5rem
	opacity 0
	
// StoresMobileView

.StoresMobileView
	width 100%
	height 100vh
	background red
	
.StoresMobileMap
	width 100%
	height 100vh
	background url(_img/googlemaps.png)
	background-size cover
	position absolute
	top 0
	z-index 0
	
.StoresMobileResults
	margin 0 6vw
	width 88%
	position fixed
	background-color white
	z-index 99999
	bottom 0
	height 20vh
	position absolute
	


