html
	font-size 13px
	font-family typeface-body, serif
	@media laptop
		font-size 15px

body, p
	font-size 1rem

.Unselectable
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

p
	line-height 150%
	//margin -.5em 0 1em 0
	margin 0 0 1em 0
	text-align left
	
em
	font-style normal
		
.col-md-4 p
	text-align left
	
a
	text-decoration: none
	color text-color
	&.cta
		padding .5rem .8rem
		border 1px solid
		transition all 200ms ease-out
		border-radius .3rem
		position relative 
		top 1.2rem
		background transparent
		color black
		border-color black
		cursor pointer
		&:hover
			background black
			color white
			border-color black
		&.inverted
			border-color white
			color white
			background transparent
			&:hover
				border-color white
				background white
				color black
		
// ul
// 	list-style circle
// ul, ol
//     padding 0px
//     margin 0 0 1rem 0
//     li 
//         margin -0.5rem 0 .5rem 3rem
//         line-height 180%	

hr
	width 100%
	height 1px
	border none
	background black
	opacity .2
	margin 4vw 0
	
strong 
	font-weight normal

h1,h2,h3,h4,h5,h6
	font-family: typeface-headline
	font-weight: normal
	line-height 130%
	position relative
	z-index 9999
	cursor: default;
	i
		font-style normal

h1
	font-size 8vw
	margin-top -1vw
	font-family typeface-headline
	@media laptop
		font-size 3.5vw
	
h2
	font-size 1.3rem
	font-family typeface-headline
	margin 0em 0 .5em 0
	@media laptop
		font-size 1.8rem
		margin -.53rem 0px 2.5rem 0px

h3
	text-transform uppercase
	color white
	letter-spacing .08rem
	font-size 1.2rem
	font-family Avenir-Heavy
	
h4
	text-transform uppercase
	display inline-block
	letter-spacing .08rem
	font-size 1rem
	font-family Avenir-Heavy
	font-weight normal
	margin 0 
	margin-bottom 1rem
			
