// CARDS

.CardContainer
	@extends $cf
	margin 1.5vw 3vw
	opacity 0
	@media laptop
		margin .75vw 3vw
	&:nth-child(1)
		margin-top 3vw
	&.Open
		padding-top .75vw
		margin-top -.75vw

.CardsPanel
	@extends $cf
	width 100%
	transition all 200ms ease-out
	float left
	position absolute
	top 0px
	left 0%
	&.Moved
		left -100%

.CardsPanel.Second
	@extends $cf
	position absolute
	left 100%
	top 0px
	z-index 99999
	transition left 200ms ease-out
	width 100%
	&.Moved
		left 0%

.CardsPanel.Second.HistoryDetail
	position fixed
	@media laptop
		width 50%
	&.Moved
		left 0%
		@media laptop
			left 50%

.Card
	@extends $cf
	background white
	border-radius 2px
	border 1px solid hsla(0,0,0,.2)
	position relative
	overflow hidden
	background-size cover
	background-position center center
	//transition all 9000ms ease-out
	height inherit
	cursor pointer
	//box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.14)
	// &:hover
	// 	border-color #999
	@media laptop
		border-radius 2px

// .Card.Open
// 	height 50vw
// 	//transform scale(1.02)
// 	//margin-top 3vw

.Card img
	margin-bottom -6px

.Card.OneTwo
	padding-bottom 50%
	height 0px
	background color-DarkBrown
	@media laptop
		padding-bottom 25%

.Card.NonPurchase
	background transparent

.Card h2
	margin-bottom 1em

.CardContents
	@extends $cf
	overflow hidden
	position relative
	padding 6vw
	float left
	@media laptop
		padding 3vw

.Card.OneTwo .CardContents
	position absolute
	top 0px

.Card.FullBleed .CardContents
	width 50%

// .Card.Medium .CardContents
// 	width 70%
// 	@media laptop
// 		width 60%

.Card.Large .CardContents
	width 100%

.CardContents.Negative
	color white
	a
		color white

#Card_Chorizo
	background url(_img/Card_Chorizo.jpg) no-repeat
	background-size cover

#JoinRewards
	background url(_img/rewards.png) no-repeat
	background-size 130%
	background-position 75% center
	@media laptop
		background-size cover
		background-position center right

.CardThumbnail
	width 30%
	height 0px
	padding-bottom 30%
	background color-DarkBrown
	float left
	background-size cover
	background-position center center
	@media laptop
		width 40%
		padding-bottom 40%

.Card.Large .CardThumbnail
	width 100%;

// FOOTER

.FooterPlaceholder
	margin 10vw 3vw
	@media laptop
		margin 3vw

.CardLabel
	margin-bottom 1rem
	display block

.CardClose
	position absolute
	top 0px
	right 0px
	padding 6vw
	font-size 1.5rem
	opacity .5
	cursor pointer
	color #808080
	display none
	@media laptop
		padding 1.5vw

.CardClose.On
	display block

.CardTitle
	font-size 1.3rem
	margin-top -0.2rem
	@extends $cf

.SliderBackward
	cursor pointer
