// CRATES

.PrimaryCrate
	background color-DarkBrown
	background-size 80%
	background-repeat no-repeat
	background-position bottom center
	width 100%
	overflow auto
	padding-top 8rem
	z-index 999
	@media laptop
		width 50%
		position fixed
		height 100vh
		top 0px
		padding-top 0
		&.Switched
			right 0px
			
.PrimaryCrate.FoodIndex
	background-size cover
		
.SecondaryCrate
	width 100%
	position relative
	@media laptop
		margin-left 50%
		width 50%
		&.Switched
			margin-left 0
	
.PrimaryCrateInner
	color white
	padding 5vw
	margin-top 20vw
	margin-bottom 65vw
	width 70%
	margin-left 15vw
	overflow-x visible
	@media laptop
		padding 3vw
		width 75%
		margin-left 6vw
		margin-bottom 0
		margin-top 5vw
		
.PrimaryCrateInner.AccountSummary
	margin-bottom 0
	padding-bottom 0
	margin-top 0
	@media laptop
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		
.PrimaryCrateInner.Feature
	margin-bottom 0
	padding-bottom 0
	margin-top 11vw
	margin-bottom 70vw
	@media laptop	
		margin-bottom 0vw
		
// .Hero.FoodDetail
// 	margin-top -10vw
// 	margin-bottom 50vw
// 	@media laptop
// 		top 30%
// 		margin-top 0
		
// .Hero.Home
// 	margin-bottom 65vw
// 	margin-top 0
// 	top 0
// 	@media laptop
// 		margin-top 0
// 		top 30%
// 		margin-bottom 0
  
.PrimaryCrateInner p
	margin-top 2rem
	@media laptop
		// max-width 20rem
		margin-top -1rem
  
.PrimaryCrateInner .Button 
	margin-top 1rem
	
.PrimaryCrateInner.Home h1 
	max-width 7em
	
.PrimaryCrateInner.Home
	@media laptop
		width 60%

	//background url(_img/Hero_Tea.png)
	//background-size cover
	// background-image url(http://roastery.starbucks.com/assets/img/discover-decorative-search.png)
	// background-repeat no-repeat
	// background-position bottom left
		
// .AccountSummary
// 	margin 3vw 9vw 0 9vw
// 	@media laptop
// 		margin-left 6vw
// 		margin-top 20vw
// 		margin 3vw
	
.AccountGreeting
	color white
	font-size 1.5rem
	width 100%
	padding-bottom 6vw
	margin-bottom 6vw
	@media laptop
		margin-bottom 3vw
		padding-bottom 3vw
		
.AccountDecision
	width 100%
	display block
	margin-top 1rem
	.Button
		margin-right 1rem
		
.StatusProgress
	width 100%
	border-top 1px solid #666
	padding-top 6vw
	margin-bottom 6vw
	color white
	@media laptop
		margin-bottom 3vw
		padding-top 3vw
	
	
.AccountStars
	//display inline-block
	//overflow auto
	margin-bottom 6vw
	text-align center
	@media laptop
		margin-bottom 3vw
		text-align left

.StarBalance
	font-size 17vw
	color white
	font-family AvenirNext-UltraLight
	margin-left -.1em
	//float left
	display inline
	line-height 90%
	position relative
	top -.2rem
	@media laptop
		font-size 6vw
		top -.5rem

.StarGuage
	width 13vw
	//float left
	margin-left 1rem
	display inline-block
	@media laptop	
		width 5vw
		
.StarGuage img
	width 100%
	
.AccountNotification
	width 168%
	background color-Gold
	color white
	overflow auto
	margin-left -34%
	@media laptop
		width 100%
		margin-left 0px
		margin-bottom 3vw
	
.AccountNotification p 
	padding 1.2rem
	float left
	margin 0
	margin-left -1rem
	
.AccountNotification span 
	width 2rem
	height 2rem
	margin 1rem
	background url(_img/AccountNotification_Stars.svg) no-repeat
	background-size cover
	display block
	overflow auto
	float left

// .Mondays
// 	background-image url(_img/cup2.png) 
// 	background-repeat no-repeat
// 	background-size 100%
// 	background-position center 120%
// 	@media laptop
// 		background-position center 140%
// 		background-size 90%
		
.Mondays
	background-image url(_img/reserves.jpg) 
	background-repeat no-repeat
	background-size cover
	background-position bottom right
		
.Tuesdays
	background-image url(_img/indo.jpg) 
	background-repeat no-repeat
	background-size cover
	background-position center 120%
	@media laptop
		background-position center 140%
		background-size cover
			
.PrimaryCrateInner.Feature.OneTree
	//position absolute
	//bottom 0
	//margin-bottom 9vw
	margin-top 30vw
	@media laptop
		max-width 70%

